.wrapper {
    text-align: center;
    width: 980px;
}

.runninglog {
    overflow: scroll;
    margin-top: 30px;
    width: 90%;
    border: 3px solid black;
}

.formbox {
    display: block;
    width: 20%;
    text-align: center;
    border: 3px solid black;
}